<main>
  <div class="center" id=todays_best>
    <h1>Top Performances</h1>
    <div class="columns-five width_90 removeTextNodes">
      <% @todays_best.each do |player| %>
      <div class="col">
        <table class=center>
          <div class=pname><%= link_to "%s" % [player.p_name], "/player/#{player.player_id}" %></pname></div>
          <caption><%= link_to (image_tag player.bg), "/team/abbr/#{player.t_abbr}" %></caption>
          <tr><td>PTS:</td><td><%= player.pts %></td><td>AST:</td><td><%= player.ast %></td></tr>
          <tr><td>REB:</td><td><%= player.reb %></td><td>BLK:</td><td><%= player.blk %></td></tr>
          <tr><td>STL:</td><td><%= player.stl %></td><td>BLK:</td><td><%= player.tos %></td></tr>
        </table>
        <caption><%= link_to "Boxscore", "/game/#{player.boxscore_id}" %></caption>
      </div>
      <% end %>
    </div>
  </div>
  <div class="columns-two width_90" id=games_today>
    <h1>Games for <%= Date.today.strftime('%b %e, %Y') %></h1>
    <div class="col1">
      <!-- Column 1 -->
      <% @games[0].each do |game| %>
      <div class="game_small">
        <div class="columns-two game_teams center">
          <div class="center col1">
            <!-- Home Team -->
            <%= link_to (image_tag @logos[Team.getTeamName(game.team_id)]), "/team/#{game.team_id}" %><br/>
            <div class="<%= if !game.boxscore_id.eql?(0) && game.win then 'win' end %>">
              <%= if !game.boxscore_id.eql?(0) then "%i" % [game.team_score] end %>
            </div>
          </div><div class="center col2">
            <!-- Away Team -->
            <%= link_to (image_tag @logos[Team.getTeamName(game.opp_id)]), "/team/#{game.opp_id}" %><br/>
            <div class="<%= if !game.boxscore_id.eql?(0) && !game.win then 'win' end %>">
              <%= if !game.boxscore_id.eql?(0) then "%i" % [game.opp_score] end %>
            </div>
          </div>
          <div class="game_time">
            <!-- Game Time or Boxscore link -->
            <%= !game.boxscore_id.eql?(0) ? (link_to "Boxscore", "/game/#{game.boxscore_id}") : "%s EST" % [game.gdate.strftime('%I:%M %p')] %>
          </div>
        </div>
      </div>
      <% end %>
    </div><div class="col2">
      <!-- Column 2 -->
      <% @games[1].each do |game| %>
      <div class="game_small">
        <div class="columns-two game_teams center">
          <div class="center col1">
            <!-- Home Team -->
            <%= link_to (image_tag @logos[Team.getTeamName(game.team_id)]), "/team/#{game.team_id}" %><br/>
            <div class="<%= if !game.boxscore_id.eql?(0) && game.win then 'win' end %>">
              <%= if !game.boxscore_id.eql?(0) then "%i" % [game.team_score] end %>
            </div>
          </div><div class="center col2">
            <!-- Away Team -->
            <%= link_to (image_tag @logos[Team.getTeamName(game.opp_id)]), "/team/#{game.opp_id}" %><br/>
            <div class="<%= if !game.boxscore_id.eql?(0) && !game.win then 'win' end %>">
              <%= if !game.boxscore_id.eql?(0) then "%i" % [game.opp_score] end %>
            </div>
          </div>
          <div class="game_time">
            <!-- Game Time or Boxscore link -->
            <%= !game.boxscore_id.eql?(0) ? (link_to "Boxscore", "/game/#{game.boxscore_id}") : "%s EST" % [game.gdate.strftime('%I:%M %p')] %>
          </div>
        </div>
      </div>
      <% end %>
      <!-- Filler -->
      <% (@games[0].size - @games[1].size).times do %>
      <div class="game_small_empty">
        <div class="columns-two game_teams">
          <div class="col1">&nbsp;</div><div class="col2">&nbsp;</div>
          <div class="game_time">
            &nbsp;
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="columns-two width_90" id=games_today>
    <h1>Games for <%= Date.today.yesterday.strftime('%b %e, %Y') %></h1>
    <div class="col1">
      <!-- Column 1 -->
      <% @results[0].each do |game| %>
      <div class="game_small">
        <div class="columns-two game_teams center">
          <div class="center col1">
            <!-- Home Team -->
            <%= link_to (image_tag @logos[Team.getTeamName(game.team_id)]), "/team/#{game.team_id}" %><br/>
            <div class="<%= if !game.boxscore_id.eql?(0) && game.win then 'win' end %>">
              <%= if !game.boxscore_id.eql?(0) then "%i" % [game.team_score] end %>
            </div>
          </div><div class="center col2">
            <!-- Away Team -->
            <%= link_to (image_tag @logos[Team.getTeamName(game.opp_id)]), "/team/#{game.opp_id}" %><br/>
            <div class="<%= if !game.boxscore_id.eql?(0) && !game.win then 'win' end %>">
              <%= if !game.boxscore_id.eql?(0) then "%i" % [game.opp_score] end %>
            </div>
          </div>
          <div class="game_boxscore_link">
            <%= link_to "Boxscore", "/game/#{game.boxscore_id}" %>
          </div>
        </div>
      </div>
      <% end %>
    </div><div class="col2">
      <!-- Column 2 -->
      <% @results[1].each do |game| %>
      <div class="game_small">
        <div class="columns-two game_teams center">
          <div class="center col1">
            <!-- Home Team -->
            <%= link_to (image_tag @logos[Team.getTeamName(game.team_id)]), "/team/#{game.team_id}" %><br/>
            <div class="<%= if !game.boxscore_id.eql?(0) && game.win then 'win' end %>">
              <%= if !game.boxscore_id.eql?(0) then "%i" % [game.team_score] end %>
            </div>
          </div><div class="center col2">
            <!-- Away Team -->
            <%= link_to (image_tag @logos[Team.getTeamName(game.opp_id)]), "/team/#{game.opp_id}" %><br/>
            <div class="<%= if !game.boxscore_id.eql?(0) && !game.win then 'win' end %>">
              <%= if !game.boxscore_id.eql?(0) then "%i" % [game.opp_score] end %>
            </div>
          </div>
          <div class="game_boxscore_link">
            <%= link_to "Boxscore", "/game/#{game.boxscore_id}" %>
          </div>
        </div>
      </div>
      <% end %>
      <!-- Filler -->
      <% (@results[0].size - @results[1].size).times do %>
      <div class="game_small_empty">
        <div class="columns-two game_teams_empty">
          <div class="col1">&nbsp;</div><div class="col2">&nbsp;</div>
          <div class="game_time">
            &nbsp;
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class='columns-two width_90' id=standings>
    <h1>Conference Standings</h1>
    <div class="col1" id=conference_west>
      <!-- Conference  -->
      <table class="tablesorter center">
        <caption>West</caption>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Win %</th>
          </tr>
        </thead>
        <tbody>
          <% @ranks_west.each do |win_pct, t_name, ranked_team| %>
          <tr>
            <td><%= @r_cnt += 1 %></td>
            <td><%= link_to t_name, "/team/#{ranked_team.team_id}" %></td>
            <td><%= ranked_team.wins %></td>
            <td><%= ranked_team.losses %></td>
            <td><%= win_pct %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </table>
  </div><div class="col2" id=conference_east>
    <!-- Conference  -->
    <table class="tablesorter center">
      <caption>East</caption>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Team</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Win %</th>
        </tr>
      </thead>
      <tbody>
        <% @r_cnt = 0 %>
        <% @ranks_east.each do |win_pct, t_name, ranked_team| %>
        <tr>
          <td><%= @r_cnt += 1 %></td>
          <td><%= link_to t_name, "/team/#{ranked_team.team_id}" %></td>
          <td><%= ranked_team.wins %></td>
          <td><%= ranked_team.losses %></td>
          <td><%= win_pct %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </table>
</div>
</div>
</main>
