<main>

  <!-- Best Performances -->
  <% if @todays_best.size > 0 %>
  <div class="center" id=todays_best>
    <h2><%= @message %></h2>
    <h1>Top Performances</h1>
    <div class="columns-five width_90 removeTextNodes">
      <% @todays_best.each do |player| %>
      <%= render partial: "shared/best_col", locals: { player: player } %>
      <% end %>
    </div>
  </div>
  <% end %>

  <!-- Latest Games  -->
  <% if @games[0].size > 0 %>
  <% if @games[1].size > 0 %>
  <div class="columns-two width_90" id=games_today>
  <% else %>
  <div class="center width_90" id=games_today>
  <% end %>
    <h1>Games for <%= @games_date.strftime('%b %e, %Y') %></h1>
    <div class="col1">
      <!-- Column 1 -->
      <% @games[0].each do |game| %>
      <%= render partial: "game_small", locals: { game: game} %>
      <% end %>
    </div><% if @games[1].size > 0 %><div class="col2">
      <!-- Column 2 -->
      <% @games[1].each do |game| %>
      <%= render partial: "game_small", locals: { game: game} %>
      <% end %>
      <!-- Filler -->
      <% (@games[0].size - @games[1].size).times do %>
      <% game = @games[0].last %>
      <%= render partial: "game_small_empty", locals: { game: game } %>
      <% end %>
    </div><% end %>
  </div>
  <% end %>

  <!-- Previous Day's Games -->
  <% if @results[0].size > 0 %>
  <% if @results[1].size > 0 %>
  <div class="columns-two width_90" id=games_yesterday>
  <% else %>
  <div class="center width_90" id=games_yesterday>
  <% end %>
    <h1>Games for <%= @results_date.strftime('%b %e, %Y') %></h1>
    <div class="col1">
      <!-- Column 1 -->
      <% @results[0].each do |game| %>
      <%= render partial: "game_small", locals: { game: game} %>
      <% end %>
    </div><% if @results[1].size > 0 %><div class="col2">
      <!-- Column 2 -->
      <% @results[1].each do |game| %>
      <%= render partial: "game_small", locals: { game: game} %>
      <% end %>
      <!-- Filler -->
      <% (@results[0].size - @results[1].size).times do %>
      <% game = @results[0].last %>
      <%= render partial: "game_small_empty", locals: { game: game } %>
      <% end %>
    </div><% end %>
  </div>
  <% end %>

  <!-- Conference Standings -->
  <div class='columns-two width_90' id=standings>
    <h1>Conference Standings</h1>
    <div class="col1" id=conference_west>
      <!-- Conference  -->
      <%= render partial: "ranks", locals: { ranks: @ranks_west, conf: "West" } %>
    </div><div class="col2" id=conference_east>
      <!-- Conference  -->
      <%= render partial: "ranks", locals: { ranks: @ranks_east, conf: "East" } %>
    </div>
  </div>
</main>
