<h1>Show db_settings</h1>
  <p>
    <strong>User:</strong>
    <%= @db_setting.user %>(<%= @db_setting.id %>)
  </p>
  <p>
    <strong>DB Name:</strong>
    <%= @db_setting.db_name %>
  </p>
  <p>
    <strong>DB User:</strong>
    <%= @db_setting.db_user %>
  </p>
  <p>
    <strong>DB Password:</strong>
    <%= @db_setting.db_password %>
  </p>
  <p>
    <strong>Start Fresh:</strong>
    <%= @db_setting.start_fresh %>
  </p>
  <p>
    <strong>Show Statements:</strong>
    <%= @db_setting.show_statements %>
  </p>
  <p>
    <strong>Show Statements:</strong>
    <%= @db_setting.show_statements %>
  </p>
  <p>
    <strong>Auto Populate Tables:</strong>
    <%= @db_setting.auto_populate_tables %>
  </p>
  <p>
    <strong>Auto Populate Teams:</strong>
    <%= @db_setting.auto_populate_teams %>
  </p>
  <p>
    <strong>Auto Populate Rosters:</strong>
    <%= @db_setting.auto_populate_rosters %>
  </p>
  <p>
    <strong>Auto Populate Schedules:</strong>
    <%= @db_setting.auto_populate_schedules %>
  </p>
  <p>
    <strong>Auto Populate Game Stats:</strong>
    <%= @db_setting.auto_populate_gamestats %>
  </p>
  <p>
    <strong>Auto Populate Lotto :</strong>
    <%= @db_setting.auto_populate_lotto %>
  </p>
  <p>
    <strong>Auto Populate Draft:</strong>
    <%= @db_setting.auto_populate_draft %>
  </p>
