<main>
  <!-- <h2>Game Stats</h2> -->
  <h2>
    <%= @home_name %> (<span class="<%= if !@game.boxscore_id.eql?(0) && @game.win then 'win' end %>"><%= @game.team_score %></span>)
    <%= @game.home ? ' vs ' : ' @ ' %>
    <%= @away_name %> (<span class="<%= if !@game.boxscore_id.eql?(0) && !@game.win then 'win' end %>"><%= @game.opp_score %></span>)
  </h2>
  <div class="">
    <div class="center width_90">
      <h3><%= link_to @home_name, "/team/abbr/#{@game.t_abbr}" %></h3>
      <div class="center" id=home_best>
        <div class="columns-five removeTextNodes">
          <% @home_best.each do |player| %>
          <div class="col">
            <table class=center>
              <div class=pname><%= link_to "%s" % [player.p_name], "/player/#{player.player_id}" %></pname></div>
              <caption><%= link_to (image_tag @home_logo), "/team/#{@game.team_id}" %></caption>
              <tr><td>PTS:</td><td><%= player.pts %></td><td>AST:</td><td><%= player.ast %></td></tr>
              <tr><td>REB:</td><td><%= player.reb %></td><td>BLK:</td><td><%= player.blk %></td></tr>
              <tr><td>STL:</td><td><%= player.stl %></td><td>BLK:</td><td><%= player.tos %></td></tr>
            </table>
          </div>
          <% end %>
        </div>
      </div>
      <table class="tablesorter center" id=home_stats>
        <thead>
          <tr>
            <th>NAME</th>
            <th>POS</th>
            <th>MIN</th>
            <th>PTS</th>
            <th>AST</th>
            <th>R(O)</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TO</th>
            <th>FG</th>
            <th>FT</th>
            <th>3P</th>
            <th>+/-</th>
            <th>PFs</th>
            <th title="GameScore">GS</th>
          </tr>
        </thead>
        <tbody>
          <% @home_stats.each do |row| %>
          <tr class=r<%= @alt_bg = (@alt_bg + 1)%2 %>>
            <td><%= link_to row.p_name, "/player/#{row.player_id}" %></td>
            <td><%= row.pos %></td>
            <td><%= row.min == '' ? 'Blank MIN' : row.min %></td>
            <td><%= row.pts %></td>
            <td><%= row.ast %></td>
            <td><%= row.reb %> (<%= row.oreb %>)</td>
            <td><%= row.stl %></td>
            <td><%= row.blk %></td>
            <td><%= row.tos %></td>
            <td><span class=hide><%= row.fga.eql?(0) ? 0 : 100*(row.fgm*1.0/row.fga).round(2) %></span><%= "%i / %i" % [row.fgm, row.fga] %></td>
            <td><span class=hide><%= row.fta.eql?(0) ? 0 : 100*(row.ftm*1.0/row.fta).round(2) %></span><%= "%i / %i" % [row.ftm, row.fta] %></td>
            <td><span class=hide><%= row.tpa.eql?(0) ? 0 : 100*(row.tpm*1.0/row.tpa).round(2) %></span><%= "%i / %i" % [row.tpm, row.tpa] %></td>
            <td><%= row.plus %></td>
            <td><%= row.pf %></td>
            <td><%= (!row.gamescore.nil? ? "%.2f" % [row.gamescore] : 0) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="center width_90">
      <h3><%= link_to @away_name, "/team/abbr/#{@game.opp_abbr}" %></h3>
      <div class="center" id=away_best>
        <div class="columns-five removeTextNodes">
          <% @away_best.each do |player| %>
          <div class="col">
            <table class=center>
              <div class=pname><%= link_to "%s" % [player.p_name], "/player/#{player.player_id}" %></pname></div>
              <caption><%= link_to (image_tag @away_logo), "/team/#{@game.opp_id}" %></caption>
              <tr><td>PTS:</td><td><%= player.pts %></td><td>AST:</td><td><%= player.ast %></td></tr>
              <tr><td>REB:</td><td><%= player.reb %></td><td>BLK:</td><td><%= player.blk %></td></tr>
              <tr><td>STL:</td><td><%= player.stl %></td><td>BLK:</td><td><%= player.tos %></td></tr>
            </table>
          </div>
          <% end %>
        </div>
      </div>
      <table class="tablesorter center" id=away_stats>
        <thead>
          <tr>
            <th>NAME</th>
            <th>POS</th>
            <th>MIN</th>
            <th>PTS</th>
            <th>AST</th>
            <th>REB(O)</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TO</th>
            <th>FG</th>
            <th>FT</th>
            <th>3P</th>
            <th>+/-</th>
            <th>Fouls</th>
            <th title="GameScore">GS</th>
          </tr>
        </thead>
        <tbody>
          <% @away_stats.each do |row| %>
          <tr class=r<%= @alt_bg = (@alt_bg + 1)%2 %>>
            <td><%= link_to row.p_name, "/player/#{row.player_id}" %></td>
            <td><%= row.pos %></td>
            <td><%= row.min == '' ? 'Blank MIN' : row.min %></td>
            <td><%= row.pts %></td>
            <td><%= row.ast %></td>
            <td><%= row.reb %> (<%= row.oreb %>)</td>
            <td><%= row.stl %></td>
            <td><%= row.blk %></td>
            <td><%= row.tos %></td>
            <td><span class=hide><%= row.fga.eql?(0) ? 0 : 100*(row.fgm*1.0/row.fga).round(2) %></span><%= "%i / %i" % [row.fgm, row.fga] %></td>
            <td><span class=hide><%= row.fta.eql?(0) ? 0 : 100*(row.ftm*1.0/row.fta).round(2) %></span><%= "%i / %i" % [row.ftm, row.fta] %></td>
            <td><span class=hide><%= row.tpa.eql?(0) ? 0 : 100*(row.tpm*1.0/row.tpa).round(2) %></span><%= "%i / %i" % [row.tpm, row.tpa] %></td>
            <td><%= row.plus %></td>
            <td><%= row.pf %></td>
            <td><%= (!row.gamescore.nil? ? "%.2f" % [row.gamescore] : 0) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>
