<main>
  <nav id=game_nav>
    <ul id=g_nav_list>
      <li><%= link_to "Home", "/"%></li>
    </ul>
  </nav>

  <h1><%= "%s (%i) %s %s (%i)" % [Team.getTeamName(@game.team_id), @game.team_score, @game.home ? 'vs' : '@', Team.getTeamName(@game.opp_id), @game.opp_score] %></h1>

  <div class="">
    <h2>Game Stats</h2>
    <div class="width_90">
      <h3><%= link_to @game.t_abbr, "/team/#{Team.getTeamId(@game.t_abbr)}" %></h3>
      <div class="columns-two center">
        <!-- <h4>Team MVPs</h4> -->
        <div class="col1">
          <table class=center>
            <caption><%= "%s (%.2f)" % [@home_top[0].p_name, @home_top[0].gamescore] %></caption>
            <tr>
              <th>PTS:</th><td><%= @home_top[0].pts %></td><th>AST:</th><td><%= @home_top[0].ast %></td>
            </tr>
            <tr>
              <th>REB:</th><td><%= @home_top[0].reb %></td><th>BLK:</th><td><%= @home_top[0].blk %></td>
            </tr>
            <tr>
              <th>STL:</th><td><%= @home_top[0].stl %></td><th>BLK:</th><td><%= @home_top[0].tos %></td>
            </tr>
          </table>
        </div><div class="col2">
          <table class=center>
            <caption><%= "%s (%.2f)" % [@home_top[1].p_name, @home_top[1].gamescore] %></caption>
            <tr>
              <th>PTS:</th><td><%= @home_top[1].pts %></td><th>AST:</th><td><%= @home_top[1].ast %></td>
            </tr>
            <tr>
              <th>REB:</th><td><%= @home_top[1].reb %></td><th>BLK:</th><td><%= @home_top[1].blk %></td>
            </tr>
            <tr>
              <th>STL:</th><td><%= @home_top[1].stl %></td><th>BLK:</th><td><%= @home_top[1].tos %></td>
            </tr>
          </table>
        </div>
      </div>
      <table class="tablesorter center" id=home_stats>
        <thead>
          <tr>
            <th>NAME</th>
            <th>POS</th>
            <th>MIN</th>
            <th>PTS</th>
            <th>AST</th>
            <th>R(O)</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TO</th>
            <th>FG</th>
            <th>FT</th>
            <th>3P</th>
            <th>+/-</th>
            <th>PFs</th>
            <th title="GameScore">GS</th>
          </tr>
        </thead>
        <tbody>
          <% @home_stats.each do |row| %>
          <tr class=r<%= @alt_bg = (@alt_bg + 1)%2 %>>
            <td><%= link_to row.p_name, "/player/#{Player.getPlayerId(row.p_name)}" %></td>
            <td><%= row.pos %></td>
            <td><%= row.min == '' ? 'Blank MIN' : row.min %></td>
            <td><%= row.pts %></td>
            <td><%= row.ast %></td>
            <td><%= row.reb %> (<%= row.oreb %>)</td>
            <td><%= row.stl %></td>
            <td><%= row.blk %></td>
            <td><%= row.tos %></td>
            <td><span class=hide><%= row.fga.eql?(0) ? 0 : 100*(row.fgm*1.0/row.fga).round(2) %></span><%= "%i / %i" % [row.fgm, row.fga] %></td>
            <td><span class=hide><%= row.fta.eql?(0) ? 0 : 100*(row.ftm*1.0/row.fta).round(2) %></span><%= "%i / %i" % [row.ftm, row.fta] %></td>
            <td><span class=hide><%= row.tpa.eql?(0) ? 0 : 100*(row.tpm*1.0/row.tpa).round(2) %></span><%= "%i / %i" % [row.tpm, row.tpa] %></td>
            <td><%= row.plus %></td>
            <td><%= row.pf %></td>
            <td><%= (!row.gamescore.nil? ? "%.2f" % [row.gamescore] : 0) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class=width_90>
      <h3><%= link_to @game.opp_abbr, "/team/#{Team.getTeamId(@game.opp_abbr)}" %></h3>
      <div class="columns-two center">
        <!-- <h4>Team MVPs</h4> -->
        <div class="col1">
          <table class=center>
            <caption><%= "%s (%.2f)" % [@away_top[0].p_name, @away_top[0].gamescore] %></caption>
            <tr>
              <th>PTS:</th><td><%= @away_top[0].pts %></td><th>AST:</th><td><%= @away_top[0].ast %></td>
            </tr>
            <tr>
              <th>REB:</th><td><%= @away_top[0].reb %></td><th>BLK:</th><td><%= @away_top[0].blk %></td>
            </tr>
            <tr>
              <th>STL:</th><td><%= @away_top[0].stl %></td><th>BLK:</th><td><%= @away_top[0].tos %></td>
            </tr>
          </table>
        </div><div class="col2">
          <table class=center>
            <caption><%= "%s (%.2f)" % [@away_top[1].p_name, @away_top[1].gamescore] %></caption>
            <tr>
              <th>PTS:</th><td><%= @away_top[1].pts %></td><th>AST:</th><td><%= @away_top[1].ast %></td>
            </tr>
            <tr>
              <th>REB:</th><td><%= @away_top[1].reb %></td><th>BLK:</th><td><%= @away_top[1].blk %></td>
            </tr>
            <tr>
              <th>STL:</th><td><%= @away_top[1].stl %></td><th>BLK:</th><td><%= @away_top[1].tos %></td>
            </tr>
          </table>
        </div>
      </div>
      <table class="tablesorter center" id=away_stats>
        <thead>
          <tr>
            <th>NAME</th>
            <th>POS</th>
            <th>MIN</th>
            <th>PTS</th>
            <th>AST</th>
            <th>REB(O)</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TO</th>
            <th>FG</th>
            <th>FT</th>
            <th>3P</th>
            <th>+/-</th>
            <th>Fouls</th>
            <th title="GameScore">GS</th>
          </tr>
        </thead>
        <tbody>
          <% @away_stats.each do |row| %>
          <tr class=r<%= @alt_bg = (@alt_bg + 1)%2 %>>
            <td><%= link_to row.p_name, "/player/#{Player.getPlayerId(row.p_name)}" %></td>
            <td><%= row.pos %></td>
            <td><%= row.min == '' ? 'Blank MIN' : row.min %></td>
            <td><%= row.pts %></td>
            <td><%= row.ast %></td>
            <td><%= row.reb %> (<%= row.oreb %>)</td>
            <td><%= row.stl %></td>
            <td><%= row.blk %></td>
            <td><%= row.tos %></td>
            <td><span class=hide><%= row.fga.eql?(0) ? 0 : 100*(row.fgm*1.0/row.fga).round(2) %></span><%= "%i / %i" % [row.fgm, row.fga] %></td>
            <td><span class=hide><%= row.fta.eql?(0) ? 0 : 100*(row.ftm*1.0/row.fta).round(2) %></span><%= "%i / %i" % [row.ftm, row.fta] %></td>
            <td><span class=hide><%= row.tpa.eql?(0) ? 0 : 100*(row.tpm*1.0/row.tpa).round(2) %></span><%= "%i / %i" % [row.tpm, row.tpa] %></td>
            <td><%= row.plus %></td>
            <td><%= row.pf %></td>
            <td><%= (!row.gamescore.nil? ? "%.2f" % [row.gamescore] : 0) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>
