<main>
  <h2>
    <%= @home_name %> (<span class="<%= if !@game.boxscore_id.eql?(0) && @game.win then 'win' end %>"><%= @game.team_score %></span>)
    <%= @game.home ? ' vs ' : ' @ ' %>
    <%= @away_name %> (<span class="<%= if !@game.boxscore_id.eql?(0) && !@game.win then 'win' end %>"><%= @game.opp_score %></span>)
  </h2>
  <div class="">
    <div class="center width_90">
      <h3><%= link_to @home_name, "/team/abbr/#{@game.abbr}" %></h3>
      <div class="center" id=home_best>
        <div class="columns-five removeTextNodes">
          <% @home_best.each do |player| %>
          <%= render 'team_best', player: player, abbr: @game.abbr, team_id: @game.team_id %>
          <% end %>
        </div>
      </div>
      <table class="tablesorter center" id=home_stats>
        <%= render 'stat_header' %>
        </thead>
        <tbody>
          <% @home_stats.each do |row| %>
          <%= render 'stat_row', row: row %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="center width_90">
      <h3><%= link_to @away_name, "/team/abbr/#{@game.opponent}" %></h3>
      <div class="center" id=away_best>
        <div class="columns-five removeTextNodes">
          <% @away_best.each do |player| %>
          <%= render 'team_best', player: player, abbr: @game.opponent, team_id: @game.opponent_id %>
          <% end %>
        </div>
      </div>
      <table class="tablesorter center" id=away_stats>
        <%= render 'stat_header' %>
        <tbody>
          <% @away_stats.each do |row| %>
          <%= render 'stat_row', row: row %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>
