<main>
  <div class="center width_90">
    <h1>Players (<%= Player.all.count %>)</h1>
    <table class="tablesorter center">
      <thead>
        <tr>
          <th>PID</th>
          <th>Team</th>
          <th>Jersey</th>
          <th>Name</th>
          <th>Height</th>
          <th>Weight</th>
          <th>College</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
        <tr class=r<%= @alt_bg = (@alt_bg + 1)%2 %>>
          <td><%= player.id %></td>
          <td><%= Team.getTeamId(player.abbr) ? link_to(player.abbr, "/team/#{Team.getTeamId(player.abbr)}") : player.abbr %></td>
          <td><%= player.jersey %></td>
          <td><%= link_to player.name, "/player/#{player.id}" %></td>
          <td><span class=hide><%= player.height_ft*12+player.height_in%></span><%= "%i' %i\"" % [player.height_ft,player.height_in] %></td>
          <td><%= player.weight %></td>
          <td><%= player.college %></td>
          <td><%= number_to_currency(player.salary || 0, {:precision => 0}) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
