<main>
  <div class=width_90>
    <h2>Players</h2>
    <table class="tablesorter center">
      <thead>
        <tr>
          <th>PID</th>
          <th>Team</th>
          <th>Jersey</th>
          <th>Name</th>
          <th>Height</th>
          <th>Weight</th>
          <th>College</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
        <tr class=r<%= @alt_bg = (@alt_bg + 1)%2 %>>
          <td><%= player.id %></td>
          <td><%= player.t_abbr %></td>
          <td><%= player.p_num %></td>
          <td><%= link_to player.p_name, "/player/#{player.id}" %></td>
          <td><%= "%i\'%i\"" % [player.h_ft, player.h_in] %></td>
          <td><%= player.weight %></td>
          <td><%= player.college %></td>
          <td><%= number_to_currency(player.salary, {:precision => 0}) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
