<div class="col">
  <table class=center>
    <div class=pname><%= link_to "%s" % [player.p_name], "/player/#{player.player_id}" %></pname></div>
    <caption><%= link_to (image_tag teamLogo(player.t_abbr)), "/team/abbr/#{player.t_abbr}" %></caption>
    <tr><td>PTS:</td><td><%= player.pts %></td><td>AST:</td><td><%= player.ast %></td></tr>
    <tr><td>REB:</td><td><%= player.reb %></td><td>BLK:</td><td><%= player.blk %></td></tr>
    <tr><td>STL:</td><td><%= player.stl %></td><td>TOS:</td><td><%= player.tos %></td></tr>
  </table>
  <caption><%= link_to "Boxscore", "/game/#{player.boxscore_id}" %></caption>
</div>
