<main>
  <div class="center">
    <nav id=team_nav>
      <ul id=nav_list>
        <li><%= link_to "Team Info", "/team/#{params[:id]}" %></li>
        <li><%= link_to "Schedule", "/team/schedule/#{params[:id]}" %></li>
      </ul>
    </nav>
  </div>
  <div class="center removeTextNodes" id=team_logo>
    <%= (image_tag teamLogo(@team.t_abbr)) %>
    <h1><%= @team.t_name %></h1>
  </div>
  <div class="center width_90">
    <h3>Past Games</h3>
    <table class="tablesorter center">
      <thead>
        <tr>
          <th>Game Num</th>
          <th>Opponent</th>
          <th>Result</th>
          <th>Record</th>
          <th>Season</th>
        </tr>
      </thead>
      <tbody>
        <% @past_games.each do |pg| %>
        <tr class=r<%= @alt_bg = (@alt_bg + 1)%2 %>>
          <td><%= pg.game_num %></td>
          <% if Team.getTeamId(pg.opp_abbr).nil? %>
            <td><%= "#{pg.home ? 'vs ' : '@ '} #{pg.opp_abbr}" %></td>
            <td><%= pg.win ? 'W' : 'L' %> <%= pg.team_score %> - <%=pg.opp_score%></td>
          <% else %>
            <td><%= link_to "#{pg.home ? 'vs ' : '@ '} #{pg.opp_abbr}", "/team/#{Team.getTeamId(pg.opp_abbr)}" %></td>
            <td><a href='/game/<%= pg.boxscore_id %>'><%= pg.win ? 'W' : 'L' %> <%= pg.team_score %> - <%=pg.opp_score%></a></td>
          <% end %>
          <td><%= pg.wins %> - <%= pg.losses %></td>
          <td><%= seasonString(pg.season_type) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="center width_90">
    <h3>Future Games</h3>
    <table class="tablesorter center">
      <thead>
        <tr>
          <th>Num</th>
          <th>Date</th>
          <th>Opponent</th>
          <th>Season</th>
        </tr>
      </thead>
      <tbody>
        <% @future_games.each do |pg| %>
        <tr class=r<%= @alt_bg = (@alt_bg + 1)%2 %>>
          <td><%= pg.game_num %></td>
          <td><span class=hide><%= pg.gdate.strftime('%y/%m/%d') %></span><%= pg.gdate.strftime('%a, %b %d @ %I:%M %p') %></td>
          <td><%= link_to "#{pg.home ? 'vs ' : '@ '} #{pg.opp_abbr}", "/team/#{Team.getTeamId(pg.opp_abbr)}" %></td>
          <td><%= seasonString(pg.season_type) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
