<main>
  <div class="center">
    <nav id=team_nav>
      <ul id=nav_list>
        <li><%= link_to "Team Info", "/team/#{params[:id]}" %></li>
        <li><%= link_to "Schedule", "/team/schedule/#{params[:id]}" %></li>
      </ul>
    </nav>
  </div>
  <div class="center" id=team_logo>
    <%= image_tag teamLogo(@team.abbr) %>
    <h1><%= @team.name %></h1>
  </div>
  <h2></h2>
  <table class="center" id=team_info>
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Division</th>
        <th>Conference</th>
      </tr>
    </thead>
    <tbody>
      <tr class=r0>
        <td><%= link_to @team.name, "/team/#{@team.id}"  %></td>
        <td><%= @team.division %></td>
        <td><%= @team.conference %></td>
      </tr>
    </tbody>
  </table>
  <div class="center width_90 columns-two">
    <div class="col1" id=team_results>
      <h3><%= seasonString(@season) %> Results</h3>
      <table class=center id=win_loss_pct>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>%</th>
          </tr>
        </thead>
        <tbody>
          <tr class=r0>
            <td><%= (image_tag teamLogo(@team.abbr)) %>#<%= @rank %></td>
            <td><%= @wins %></td>
            <td><%= @losses %></td>
            <td><%= "#{@win_pct}"  %></td>
          </tr>
        </tbody>
      </table>
    </div><div class="col2" id=next_game>
      <h3>Next Game</h3>
      <table class=center>
        <thead>
          <tr>
            <th>Opponent</th>
            <th>Game Time</th>
          </tr>
        </thead>
        <tbody>
          <% if !@next_game.nil? %>
          <tr class=r0>
            <td><a href="/team/<%= @next_game.opp_id %>"><%= @next_game.home ? "vs" : "@" %> <%= (image_tag teamLogo(@next_game.opponent)) %></a></td>
            <td><%= @next_game.gdate.strftime('%A, %b %d @ %I:%M %p') %></td>
          </tr>
          <% else %>
          <tr class=r0>
            <td class=h_62>-</td>
            <td class=h_62>-</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="center columns-five width_90 removeTextNodes" id=team_best>
    <h2>Top 5</h2>
    <% @team_best.each do |player| %>
    <div class="col">
      <table class=center>
        <div class=pname><%= link_to "%s" % [player.name], "/player/#{player.player_id}" %></pname></div>
        <caption><%= link_to (image_tag teamLogo(@team.abbr)), "/team/#{@team.id}" %></caption>
        <tr><td>PTS:</td><td><%= "%.1f" % [player.apts] %></td><td>AST:</td><td><%= "%.1f" % [player.aast] %></td></tr>
        <tr><td>REB:</td><td><%= "%.1f" % [player.areb] %></td><td>BLK:</td><td><%= "%.1f" % [player.ablk] %></td></tr>
        <tr><td>STL:</td><td><%= "%.1f" % [player.astl] %></td><td>TOS:</td><td><%= "%.1f" % [player.atos] %></td></tr>
      </table>
    </div>
    <% end %>
  </div>
  <div class="center width_90">
    <h2>Roster</h2>
    <table class="tablesorter center" id=roster>
      <thead>
        <tr>
          <th>Jersey</th>
          <th>Player</th>
          <th>Position</th>
          <th>Age</th>
          <th>Height</th>
          <th>Weight</th>
          <th>College</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        <% @roster.each do |row| %>
        <tr class=r<%= @alt_bg = (@alt_bg + 1)%2 %>>
          <td><%= row.jersey %></td>
          <td><%= link_to row.name, "/player/#{row.id}" %></td>
          <td><%= row.position %></td>
          <td><%= row.age %></td>
          <td><span class=hide><%= row.height_ft*12+row.height_in%></span><%= "%i' %i\"" % [row.height_ft,row.height_in] %></td>
          <td><%= row.weight %></td>
          <td><%= row.college %></td>
          <td><%= number_to_currency(row.salary, {:precision => 0}) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="center width_90 columns-two">
    <div class="col1">
      <h3>Last 10</h3>
      <table class="tablesorter center">
        <thead>
          <tr>
            <th>Game Num</th>
            <th>Opp</th>
            <th>Score</th>
            <th>Season</th>
          </tr>
        </thead>
        <tbody>
          <% @last10_games.each do |pg| %>
          <tr class=r<%= @alt_bg = (@alt_bg + 1)%2 %>>
            <td><%= pg.game_num %></td>
            <td><%= link_to "#{pg.home ? 'vs ' : '@ '} #{pg.opponent}", "/team/#{Team.getTeamId(pg.opponent)}" %></td>
            <td><%= link_to "%s %i - %i" %[pg.win ? 'W' : 'L', pg.team_score, pg.opp_score], "/game/#{pg.boxscore_id}" %></td>
            <td><%= seasonString(pg.season_type) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><div class="col2">
      <h3>Next 10</h3>
      <table class="tablesorter center">
        <thead>
          <tr>
            <th>Game Num</th>
            <th>Opp</th>
            <th>Game Date</th>
            <th>Season</th>
          </tr>
        </thead>
        <tbody>
          <% @next10_games.each do |pg| %>
          <tr class=r<%= @alt_bg = (@alt_bg + 1)%2 %>>
            <td><%= pg.game_num %></td>
            <td><%= link_to "#{pg.home ? 'vs ' : '@ '} #{pg.opponent}", "/team/#{Team.getTeamId(pg.opponent)}" %></td>
            <td><span class=hide><%= pg.gdate.strftime('%y/%m/%d') %></span><%= pg.gdate.strftime('%A, %b %d @ %I:%M %p') %></td>
            <td><%= seasonString(pg.season_type) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>
